<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm sign in</title>
</head>
<body>
    <h1>Enter please OTP code</h1>
    <form action="/admin/confirm-signin" method="POST">
        <input type="text" name="username" value="<%= username %>" />
        <br />
        <input type="text" name="otp" placeholder="OTP code" required />
        <br />
        <button type="submit">Confirm</button>
    </form>
</body>
</html>